In [1]:
import pandas as pd
dataset=pd.read_csv("Hit or Flop movie Dataset.csv")

# List the data types of each colimn ,no.of non missing values and memory usage with info method

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 37 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   S.No                               50 non-null     int64
 1   Film Industry                      50 non-null     object
 2   Movie Name                         50 non-null     object
 3   Genre                              50 non-null     object
 4   Movie Release Date                 50 non-null     object
 5   Investment                         50 non-null     object
 6   Investment.1                       50 non-null     int64
 7   Profit                             50 non-null     object
 8   Profit.1                           50 non-null     int64
 9   Success/Failure                    50 non-null     int64
 10  IMDb Rating                        50 non-null     float64
 11  Trailer Released Date              50 non-null     object
 12  YouTube_Views1                     50 non-null     object
 13  YouTube_Trailer_Views              50 non-null     int64
 14  Common Background music            50 non-null     int64
 15  Theme background Music             50 non-null     int64
 16  No.of Part Released                50 non-null     int64
 17  Comedy Scene                       50 non-null     int64
 18  Fast mode                          50 non-null     int64
 19  Slow mode                          50 non-null     int64
 20  Medium mode                        50 non-null     int64
 21  1st-30min                          50 non-null     object
 22  2nd-30mins                         50 non-null     object
 23  3rd-30mins                         50 non-null     object
 24  4th-30mins                         50 non-null     object
 25  5th-30mins                         50 non-null     object
 26  Pre-released song views            50 non-null     object
 27  Pre-released_song _views           50 non-null     int64
 28  first song released date           50 non-null     object
 29  YouTube Views                      50 non-null     object
 30  YouTube_song_Views                 50 non-null     int64
 31  OTT                                50 non-null     object
 32  Rating_Type                        50 non-null     object
 33  MemeMarketing                      50 non-null     object
 34  Critics                            50 non-null     object
 35  First day Box office collection    50 non-null     object
 36  First day Box office collection.1  50 non-null     int64
dtypes: float64(1), int64(15), object(21)
memory usage: 14.6+ KB

# Find the memory usage of each columns with the memory_usage method

In [5]:
dataset.memory_usage()

Index                                128
S.No                                 400
Film Industry                        400
Movie Name                           400
Genre                                400
Movie Release Date                   400
Investment                           400
Investment.1                         400
Profit                               400
Profit.1                             400
Success/Failure                      400
IMDb Rating                          400
Trailer Released Date                400
YouTube_Views1                       400
YouTube_Trailer_Views                400
Common Background music              400
Theme background Music               400
No.of Part Released                  400
Comedy Scene                         400
Fast mode                            400
Slow mode                            400
Medium mode                          400
1st-30min                            400
2nd-30mins                           400
3rd-30mins                           400
4th-30mins                           400
5th-30mins                           400
Pre-released song views              400
Pre-released_song _views             400
first song released date             400
YouTube Views                        400
YouTube_song_Views                   400
OTT                                  400
Rating_Type                          400
MemeMarketing                        400
Critics                              400
First day Box office collection      400
First day Box office collection.1    400
dtype: int64

# There is no need to use 64 bits for the comedy scene column as it contains only 0 or 1 values . Let's convert this column to an 8-bit (1 byte) integer with the astype method

In [6]:
import numpy as np
dataset["Comedy Scene"].astype(np.int8)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
Name: Comedy Scene, dtype: int8

# Use the n largest method to select the top 100 movies by IMDb rating

In [7]:
dataset.nlargest(100,"IMDb Rating").head()

,S.No,Film Industry,Movie Name,Genre,Movie Release Date,Investment,Investment.1,Profit,Profit.1,Success/Failure,...,Pre-released_song _views,first song released date,YouTube Views,YouTube_song_Views,OTT,Rating_Type,MemeMarketing,Critics,First day Box office collection,First day Box office collection.1
7,8,Kollywood,Ponniyin selvan-1,Action,30-09-2022,500 Crore,5000000000,495 Crore,4950000000,1,...,62000000,31-07-2022,50 Million,50000000,Netflix,Very good,Yes,Very Good,34 Crore,340000000
24,25,Kollywood,Jai Bhim,Drama,2/11/2021,40 Crore,400000000,100 Crore,1000000000,1,...,19000000,30-10-2021,17 Million,17000000,Netflix,Good,Yes,Good,6 Crore,60000000
10,11,Kollywood,Soorarai pottru,Drama,12/11/2020,20 Crore,200000000,174 Crore,1740000000,1,...,16000000,24-01-2020,85 Million,85000000,Netflix,Good,Yes,Good,8 Crore,80000000
20,21,Kollywood,Mahanati,Drama,9/5/2018,25 Crore,250000000,83 Crore,830000000,1,...,1200000,1/5/2018,101 Thousand,101000,Netflix,Good,No,Good,5.9 Crore,59000000
0,1,Kollywood,Vikram,Action,3/6/2022,115 Crore,1150000000,424 Crore,4240000000,1,...,98000000,15-05-2022,50 Million,50000000,Netflix,Good,Yes,Good,33 Crore,330000000

# the nsmallest method to return the file lowest imdb rating film

In [13]:
dataset.nsmallest(100,"IMDb Rating")#.nsmallest(5,No.of Part Released)

,S.No,Film Industry,Movie Name,Genre,Movie Release Date,Investment,Investment.1,Profit,Profit.1,Success/Failure,...,Pre-released_song _views,first song released date,YouTube Views,YouTube_song_Views,OTT,Rating_Type,MemeMarketing,Critics,First day Box office collection,First day Box office collection.1
35,36,Kollywood,Alex pandian,Action,11/1/2013,17 Crore,170000000,12 Crore,120000000,0,...,225000,12/12/2012,5.6 Million,5600000,Netflix,Bad,Yes,Bad,2 Crore,20000000
38,39,Kollywood,Sura,Action,30-04-2010,30 Crore,300000000,40 Crore,400000000,0,...,12000,25-04-2010,10 Million,10000000,Netflix,Bad,No,Bad,2 Crore,20000000
46,47,Kollywood,Mappillai,Action,8/4/2011,33 Crore,330000000,32 Crore,320000000,0,...,30000000,30-03-2011,4.4 Million,4400000,Netflix,Bad,No,Bad,5 Crore,50000000
36,37,Kollywood,Naiyandi,Comedy,11/10/2013,20 Crore,200000000,16 Crore,160000000,0,...,1300000,17-09-2013,3.2 Million,3200000,Netflix,Bad,Yes,Bad,1 Crore,10000000
39,40,Kollywood,Asal,Action,5/2/2010,22 Crore,220000000,12 Crore,120000000,0,...,34000,20-01-2010,100 Thousand,100000,Netflix,Bad,No,Bad,2 Crore,20000000
30,31,Kollywood,Seema Raja,Action,13-09-2018,60 Crore,600000000,49 Crore,490000000,0,...,31000000,13-09-2018,73 Million,73000000,Netflix,Bad,Yes,Bad,1.3 Crore,13000000
33,34,Kollywood,Puli,Action,1/10/2015,130 Crore,1300000000,100 Crore,1000000000,0,...,11000000,2/8/2015,23 Million,23000000,Netflix,Bad,No,Bad,10 Crore,100000000
31,32,Kollywood,Saamy Square,Action,21-09-2018,50 Crore,500000000,38 Crore,380000000,0,...,2400000,10/7/2018,93 Million,93000000,Netflix,Bad,Yes,Bad,60 lakh,6000000
43,44,Kollywood,Action,Action,15-11-2019,40 Crore,400000000,35 Crore,350000000,0,...,4200000,9/11/2019,5.4 Million,5400000,Netflix,Bad,Yes,Bad,1 Crore,10000000
29,30,Kollywood,Prince,Comedy,21-10-2022,60 Crore,600000000,22 Crore,220000000,0,...,1000000,30-09-2022,27 Million,27000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
28,29,Kollywood,Thodari,Action,22-09-2016,40 Crore,400000000,23 Crore,230000000,0,...,2100000,6/6/2016,7.4 Million,7400000,Netflix,Bad,Yes,Bad,4.32 Crore,43200000
27,28,Kollywood,Bhoomi,Action,14-01-2021,30 Crore,300000000,15 Crore,150000000,0,...,2000000,18-10-2020,4 Million,4000000,Netflix,Bad,Yes,Bad,2 Crore,20000000
32,33,Kollywood,Dev,Action,14-02-2019,40 Crore,400000000,25 Crore,250000000,0,...,2000000,7/2/2019,4.6 Million,4600000,Netflix,Bad,Yes,Bad,60 lakh,6000000
40,41,Kollywood,Rekka,Action,7/10/2016,10 Crore,100000000,14 Crore,140000000,0,...,2000000,30-09-2016,7 Million,7000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
49,50,Kollywood,Anjaan,Action,15-08-2014,75 Crore,750000000,45 Crore,450000000,0,...,16000000,10/8/2014,16 Million,16000000,Netflix,Bad,Yes,Bad,1 Crore,10000000
34,35,Kollywood,Adhavan,Action,17-10-2009,30 Crore,300000000,20 Crore,200000000,0,...,5000000,20-08-2009,17 Thousand,17000,Netflix,Bad,No,Bad,2.3 Crore,23000000
41,42,Kollywood,Vanamagan,Action,23-06-2017,18 Crore,180000000,10 Crore,100000000,0,...,2000000,22-04-2017,12 Million,12000000,Netflix,Bad,Yes,Bad,2 Crore,20000000
2,3,Kollywood,Beast,Action,13-04-2022,130 Crore,1300000000,227 Crore,2270000000,1,...,33000000,14-02-2022,48 Million,48000000,Netflix,Average,Yes,Average,40 Crore,400000000
37,38,Kollywood,Manmadhan Ambu,Comedy,22-12-2010,50 Crore,500000000,30 Crore,300000000,0,...,440000,25-11-2010,20 Million,20000000,Netflix,Bad,No,Bad,5 Crore,50000000
26,27,Kollywood,NGK,Action,31-05-2019,65 Crore,650000000,30 Crore,300000000,0,...,1000000,19-04-2019,2.9 Million,2900000,Netflix,Bad,Yes,Bad,14 Crore,140000000
15,16,Kollywood,2,Action,29-11-2018,575 Crore,5750000000,750 Crore,7500000000,1,...,14000000,27-10-2017,7.9 Million,7900000,Netflix,Good,Yes,Good,82 Crore,820000000
48,49,Kollywood,Kochadaiyan,Action,23-05-2014,125 Crore,1250000000,42 Crore,420000000,0,...,1000000,9/3/2014,13 Million,13000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
45,46,Kollywood,Cobra,Action,31-08-2022,90 Crore,900000000,58 Crore,580000000,0,...,6200000,9/8/2022,29 Million,29000000,Netflix,Bad,Yes,Bad,24 Crore,240000000
42,43,Kollywood,Hero,Superhero,20-12-2019,45 Crore,450000000,40 Crore,400000000,0,...,2800000,29-11-2019,30 Million,30000000,Netflix,Bad,Yes,Bad,1.31 Crore,13100000
44,45,Kollywood,Ravanan,Action,18-06-2010,55 Crore,550000000,50 Crore,500000000,0,...,2000000,7/5/2010,38 Million,38000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
5,6,Kollywood,Don,Comedy,13-05-2022,40 Crore,400000000,121 Crore,1210000000,1,...,98000000,16-12-2021,47 Million,47000000,Netflix,Good,Yes,Good,15 Crore,150000000
22,23,Kollywood,Enthiran,Action,1/10/2010,196 Crore,1960000000,311 Crore,3110000000,1,...,6000000,31-07-2010,1.4 Million,1400000,Netflix,Good,Yes,Good,100 Crore,1000000000
12,13,Kollywood,Ka Pae Ranasingam,Drama,2/10/2020,10 Crore,100000000,11 Crore,110000000,1,...,100000,10/10/2020,8.3 Million,8300000,Netflix,Good,No,Good,8 Crore,80000000
9,10,Kollywood,Master,Action,13-01-2021,135 Crore,1350000000,300 Crore,3000000000,1,...,112000000,15-03-2020,406 Million,406000000,Netflix,Good,Yes,Good,18 Crore,180000000
47,48,Kollywood,Uttama villan,Comedy,2/5/2015,50 Crore,500000000,26 Crore,260000000,0,...,657000,1/3/2015,2 Million,2000000,Netflix,Bad,Yes,Bad,`10 Crore,100000000
6,7,Kollywood,Doctor,Action,9/10/2021,40 Crore,400000000,101 Crore,1010000000,1,...,34000000,2/10/2021,41 Million,41000000,Netflix,Good,Yes,Good,8 Crore,80000000
1,2,Kollywood,Sardar,Action,21-10-2022,40 Crore,400000000,85 Crore,850000000,1,...,4000000,18-11-2022,11 Million,11000000,Netflix,Good,Yes,Good,3.7 Crore,37000000
17,18,Kollywood,English vinglish,Comedy,5/10/2012,10 Crore,100000000,102 Crore,1020000000,1,...,4100000,14-09-2012,3 Million,3000000,Netflix,Good,No,Good,2.5 Crore,25000000
16,17,Kollywood,24,Action,6/5/2016,80 Crore,800000000,120 Crore,1200000000,1,...,2000000,10/2/2016,8 Million,8000000,Netflix,Good,Yes,Good,33 Crore,330000000
18,19,Kollywood,Viswaroopam,Action,7/2/2013,95 Crore,950000000,220 Crore,2200000000,1,...,350000,11/2/2013,6.8 Million,6800000,Netflix,Good,No,Good,10 Crore,100000000
3,4,Kollywood,Pizza,Horror,19-10-2012,1.5 Crore,15000000,8 Crore,80000000,1,...,176000,6/9/2012,250 Thousand,250000,Netflix,Good,No,Good,1.5 Crore,15000000
21,22,Kollywood,Baahubali-The beginning,Action,10/7/2015,180 Crore,1800000000,650 Crore,6500000000,1,...,1800000,7/6/2015,19.5 Million,195000000,Netflix,Good,Yes,Good,6 Crore,60000000
13,14,Kollywood,Karnan,Action,9/4/2021,30 Crore,300000000,63 Crore,630000000,1,...,21000000,19-02-2021,19.5 Million,19500000,Netflix,Good,Yes,Good,10 Crore,100000000
25,26,Kollywood,Aayirathil Oruvan,Action,14-01-2010,18 Crore,180000000,10 Crore,100000000,0,...,148000,4/6/2009,164 Thousand,164000,Netflix,Good,No,Good,1 Crore,10000000
19,20,Kollywood,Kaththi,Action,22-10-2014,70 Crore,700000000,130 Crore,1300000000,1,...,1200000,17-10-2014,587 Thousand,587000,Netflix,Good,Yes,Good,15 Crore,150000000
4,5,Kollywood,Naduvula Konjum Pakkatha kanum,Comedy,30-11-2012,0.8 Crore,8000000,18 Crore,180000000,1,...,49000,27-06-2012,30 Thousand,30000,Netflix,Good,No,Good,5 Crore,50000000
11,12,Kollywood,Theeran Adhigaram ondru,Action,17-11-2017,50 Crore,500000000,85 Crore,850000000,1,...,40000,13-11-2017,12.9 Thousand,12900,Netflix,Good,Yes,Good,10 Crore,100000000
8,9,Kollywood,Maanaadu,Action,25-11-2021,30 Crore,300000000,84 Crore,840000000,1,...,38000000,21-06-2021,18 Million,18000000,Netflix,Good,Yes,Good,8 Crore,80000000
23,24,Kollywood,Kakka muttai,Comedy,5/6/2015,1 Crore,10000000,12 Crore,120000000,1,...,150000,4/5/2015,451 Thousand,451000,Netflix,Good,Yes,Good,2.4 Crore,24000000
0,1,Kollywood,Vikram,Action,3/6/2022,115 Crore,1150000000,424 Crore,4240000000,1,...,98000000,15-05-2022,50 Million,50000000,Netflix,Good,Yes,Good,33 Crore,330000000
14,15,Kollywood,Asuran,Action,4/10/2019,32 Crore,320000000,155 Crore,1550000000,1,...,23000000,18-09-2021,32 Million,32000000,Netflix,Good,Yes,Good,10 Crore,100000000
20,21,Kollywood,Mahanati,Drama,9/5/2018,25 Crore,250000000,83 Crore,830000000,1,...,1200000,1/5/2018,101 Thousand,101000,Netflix,Good,No,Good,5.9 Crore,59000000
10,11,Kollywood,Soorarai pottru,Drama,12/11/2020,20 Crore,200000000,174 Crore,1740000000,1,...,16000000,24-01-2020,85 Million,85000000,Netflix,Good,Yes,Good,8 Crore,80000000
24,25,Kollywood,Jai Bhim,Drama,2/11/2021,40 Crore,400000000,100 Crore,1000000000,1,...,19000000,30-10-2021,17 Million,17000000,Netflix,Good,Yes,Good,6 Crore,60000000
7,8,Kollywood,Ponniyin selvan-1,Action,30-09-2022,500 Crore,5000000000,495 Crore,4950000000,1,...,62000000,31-07-2022,50 Million,50000000,Netflix,Very good,Yes,Very Good,34 Crore,340000000

# Read in the movie dataset with the movie name as the index and then select every other row from index 10 to 20

In [14]:
data=dataset["Movie Name"]
data[10:20:2]

10      Soorarai pottru
12    Ka Pae Ranasingam
14               Asuran
16                   24
18          Viswaroopam
Name: Movie Name, dtype: object