In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({"James":["Not good", "Meh"],"Emily":["cook better" , "Pretty average"]})
df

      James           Emily
0  Not good     cook better
1       Meh  Pretty average

In [3]:
import pandas as pd
survey = pd.DataFrame({'James': ['I liked it', 'It could use a bit more salt'], 'Emily': ['It is too sweet', 'Yum!']})
survey

                          James            Emily
0                    I liked it  It is too sweet
1  It could use a bit more salt             Yum!

# Use the 'append' function
append the dataframe

In [4]:
survey=survey.append(df,ignore_index=True)
survey

                          James            Emily
0                    I liked it  It is too sweet
1  It could use a bit more salt             Yum!
2                      Not good      cook better
3                           Meh   Pretty average

# Series
There are two core objects in pandas, one is dataframe which we have already gone through, the other is called a series.

Dataframe, as we have seen, looks like a data table. A series on the other hand is a sequence of data values or sometimes called a list.

In [5]:
pd.Series([15,20,25,30,35])

0    15
1    20
2    25
3    30
4    35
dtype: int64

# You can think of series as being a single column within a dataframe and so we can assign a index label to a series just like how we would with a dataframe.

In [8]:
profit=pd.Series([25,30,35],index=["2018_profit" , "2019_profit","2020_profit"])
profit

2018_profit    25
2019_profit    30
2020_profit    35
dtype: int64

# Using this same logic, we can form a dataframe using a list of list i.e. a combination of series. Let's see how we can do that.

In [10]:
sales=pd.DataFrame([[317,"Melbourne",28],[318,'New york',29],[319,'London',30]],columns=["Customer ID","City","Sales"])
sales

   Customer ID       City  Sales
0          317  Melbourne     28
1          318   New york     29
2          319     London     30

In [12]:
import pandas as pd 
dataset=pd.read_csv("Hit or Flop movie Dataset.csv")
dataset.head()

,S.No,Film Industry,Movie Name,Genre,Movie Release Date,Investment,Investment.1,Profit,Profit.1,Success/Failure,...,Pre-released_song _views,first song released date,YouTube Views,YouTube_song_Views,OTT,Rating_Type,MemeMarketing,Critics,First day Box office collection,First day Box office collection.1
0,1,Kollywood,Vikram,Action,3/6/2022,115 Crore,1150000000,424 Crore,4240000000,1,...,98000000,15-05-2022,50 Million,50000000,Netflix,Good,Yes,Good,33 Crore,330000000
1,2,Kollywood,Sardar,Action,21-10-2022,40 Crore,400000000,85 Crore,850000000,1,...,4000000,18-11-2022,11 Million,11000000,Netflix,Good,Yes,Good,3.7 Crore,37000000
2,3,Kollywood,Beast,Action,13-04-2022,130 Crore,1300000000,227 Crore,2270000000,1,...,33000000,14-02-2022,48 Million,48000000,Netflix,Average,Yes,Average,40 Crore,400000000
3,4,Kollywood,Pizza,Horror,19-10-2012,1.5 Crore,15000000,8 Crore,80000000,1,...,176000,6/9/2012,250 Thousand,250000,Netflix,Good,No,Good,1.5 Crore,15000000
4,5,Kollywood,Naduvula Konjum Pakkatha kanum,Comedy,30-11-2012,0.8 Crore,8000000,18 Crore,180000000,1,...,49000,27-06-2012,30 Thousand,30000,Netflix,Good,No,Good,5 Crore,50000000

# Summary functions
Summary functions like describe and info give a high-level summary of our data.

# Describe function on numerical variable

In [13]:
dataset["YouTube_song_Views"].describe()

count    5.000000e+01
mean     2.974226e+07
std      6.375571e+07
min      1.290000e+04
25%      3.050000e+06
50%      9.150000e+06
75%      2.975000e+07
max      4.060000e+08
Name: YouTube_song_Views, dtype: float64

# Describe function on text variable

In [14]:
dataset["MemeMarketing"].describe()

count      50
unique      2
top       Yes
freq       37
Name: MemeMarketing, dtype: object

# Unique and value counts function

# How many unique Genre values are there?

In [15]:
dataset["Genre"].nunique()

5

# What are the unique genre values?

In [17]:
dataset['Genre'].unique()

array(['Action', 'Horror', 'Comedy', 'Drama', 'Superhero'], dtype=object)

# What are the counts of those individual values?

In [ ]:
data[''].value_counts()