# 1)corr()
The corr() method calculates the relationship between each column in your data set.

In [1]:
import pandas as pd 
dataset=pd.read_csv("Hit or Flop movie Dataset.csv")
dataset.corr()

,S.No,Investment.1,Profit.1,Success/Failure,IMDb Rating,YouTube_Trailer_Views,Common Background music,Theme background Music,No.of Part Released,Comedy Scene,Fast mode,Slow mode,Medium mode,Pre-released_song _views,YouTube_song_Views,First day Box office collection.1
S.No,1.000000,-0.180569,-0.409943,-0.866199,-0.646139,-0.464807,0.165455,-0.219150,-0.411355,NaN,-0.245640,-0.268754,0.358936,-0.449033,-0.209282,-0.286281
Investment.1,-0.180569,1.000000,0.831763,0.237638,0.148772,0.248258,-0.343931,0.330483,-0.069899,NaN,0.141070,-0.111654,-0.070460,0.264568,0.177544,0.699647
Profit.1,-0.409943,0.831763,1.000000,0.507843,0.347616,0.367636,-0.344555,0.345877,0.194399,NaN,0.057593,-0.085371,-0.008472,0.396770,0.400068,0.658026
Success/Failure,-0.866199,0.237638,0.507843,1.000000,0.793609,0.388663,-0.200643,0.240192,0.384755,NaN,0.172917,0.204124,-0.260290,0.358731,0.198226,0.383656
IMDb Rating,-0.646139,0.148772,0.347616,0.793609,1.000000,0.220113,-0.256666,0.266398,0.274329,NaN,0.126992,0.196183,-0.214761,0.227483,0.126805,0.194967
YouTube_Trailer_Views,-0.464807,0.248258,0.367636,0.388663,0.220113,1.000000,-0.222218,0.230199,0.464886,NaN,-0.053354,-0.047034,0.072178,0.614460,0.547565,0.294709
Common Background music,0.165455,-0.343931,-0.344555,-0.200643,-0.256666,-0.222218,1.000000,-0.960645,-0.112489,NaN,0.025443,-0.221163,0.089828,-0.059888,-0.204111,-0.288642
Theme background Music,-0.219150,0.330483,0.345877,0.240192,0.266398,0.230199,-0.960645,1.000000,0.193632,NaN,0.073837,0.212459,-0.175055,0.189627,0.214566,0.294740
No.of Part Released,-0.411355,-0.069899,0.194399,0.384755,0.274329,0.464886,-0.112489,0.193632,1.000000,NaN,0.107716,-0.005610,-0.094425,0.461372,0.283262,0.021108
Comedy Scene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fast mode,-0.245640,0.141070,0.057593,0.172917,0.126992,-0.053354,0.025443,0.073837,0.107716,NaN,1.000000,-0.082359,-0.861163,0.152467,-0.076342,0.076472
Slow mode,-0.268754,-0.111654,-0.085371,0.204124,0.196183,-0.047034,-0.221163,0.212459,-0.005610,NaN,-0.082359,1.000000,-0.435677,0.037783,-0.066680,-0.077300
Medium mode,0.358936,-0.070460,-0.008472,-0.260290,-0.214761,0.072178,0.089828,-0.175055,-0.094425,NaN,-0.861163,-0.435677,1.000000,-0.156976,0.102961,-0.029640
Pre-released_song _views,-0.449033,0.264568,0.396770,0.358731,0.227483,0.614460,-0.059888,0.189627,0.461372,NaN,0.152467,0.037783,-0.156976,1.000000,0.582913,0.223417
YouTube_song_Views,-0.209282,0.177544,0.400068,0.198226,0.126805,0.547565,-0.204111,0.214566,0.283262,NaN,-0.076342,-0.066680,0.102961,0.582913,1.000000,0.030661
First day Box office collection.1,-0.286281,0.699647,0.658026,0.383656,0.194967,0.294709,-0.288642,0.294740,0.021108,NaN,0.076472,-0.077300,-0.029640,0.223417,0.030661,1.000000

# 2)to_csv
To write csv file

In [8]:
dataset.to_csv('./data.csv')

# 3) to_json
to write json file

In [10]:
dataset.to_json('./data.json')

# 4).to_markdown() 
we can get the markdown table from the given dataset by using pandas.to_markdown() method.

In [13]:
gfg = dataset.to_markdown()
gfg

'|    |   S.No | Film Industry   | Movie Name                     | Genre     | Movie Release Date   | Investment   |   Investment.1 | Profit    |   Profit.1 |   Success/Failure |   IMDb Rating | Trailer Released Date   | YouTube_Views1   |   YouTube_Trailer_Views |   Common Background music |   Theme background Music |   No.of Part Released |   Comedy Scene |   Fast mode |   Slow mode |   Medium mode | 1st-30min              | 2nd-30mins           | 3rd-30mins        | 4th-30mins      | 5th-30mins         | Pre-released song views   |   Pre-released_song _views | first song released date   | YouTube Views   |   YouTube_song_Views | OTT     | Rating_Type   | MemeMarketing   | Critics   | First day Box office collection   |   First day Box office collection.1 |\n|---:|-------:|:----------------|:-------------------------------|:----------|:---------------------|:-------------|---------------:|:----------|-----------:|------------------:|--------------:|:------------------------|:-----------------|------------------------:|--------------------------:|-------------------------:|----------------------:|---------------:|------------:|------------:|--------------:|:-----------------------|:---------------------|:------------------|:----------------|:-------------------|:--------------------------|---------------------------:|:---------------------------|:----------------|---------------------:|:--------|:--------------|:----------------|:----------|:----------------------------------|------------------------------------:|\n|  0 |      1 | Kollywood       | Vikram                         | Action    | 3/6/2022             | 115 Crore    |     1150000000 | 424 Crore | 4240000000 |                 1 |           8.4 | 15-05-2022              | 43 Million       |                43000000 |                         1 |                        0 |                     5 |              1 |           0 |           0 |             1 | Action                 | Suspense             | Investigation     | Thriller        | Fight              | 98 Million                |                   98000000 | 15-05-2022                 | 50 Million      |             50000000 | Netflix | Good          | Yes             | Good      | 33 Crore                          |                           330000000 |\n|  1 |      2 | Kollywood       | Sardar                         | Action    | 21-10-2022           | 40 Crore     |      400000000 | 85 Crore  |  850000000 |                 1 |           7.8 | 30-09-2022              | 10 Million       |                10000000 |                         0 |                        1 |                     4 |              1 |           1 |           0 |             0 | Protection             | Investigation        | Flashback         | Disloyality     | Fight              | 4 Million                 |                    4000000 | 18-11-2022                 | 11 Million      |             11000000 | Netflix | Good          | Yes             | Good      | 3.7 Crore                         |                            37000000 |\n|  2 |      3 | Kollywood       | Beast                          | Action    | 13-04-2022           | 130 Crore    |     1300000000 | 227 Crore | 2270000000 |                 1 |           5.6 | 2/4/2022                | 59 Million       |                59000000 |                         0 |                        1 |                     4 |              1 |           0 |           0 |             1 | Intro                  | Terrorist attack     | Action            | Blackmail       | Revenge            | 33 Million                |                   33000000 | 14-02-2022                 | 48 Million      |             48000000 | Netflix | Average       | Yes             | Average   | 40 Crore                          |                           400000000 |\n|  3 |      4 | Kollywood       | Pizza                          | Horror    | 19-10-2012           | 1.5 Crore    |       15000000 | 8 Crore   |   80000000 |                 1 |           8   | 21-09-2012              | 309 thousand     |                  309000 |                         0 |                        1 |                     2 |              1 |           0 |           1 |             0 | Thriller               | Mystery              | Suspense          | Investigation   | Illusion           | 176 Thousand              |                     176000 | 6/9/2012                   | 250 Thousand    |               250000 | Netflix | Good          | No              | Good      | 1.5 Crore                         |                            15000000 |\n|  4 |      5 | Kollywood       | Naduvula Konjum Pakkatha kanum | Comedy    | 30-11-2012           | 0.8 Crore    |        8000000 | 18 Crore  |  180000000 |                 1 |           8.2 | 13-07-2012              | 80 thousand      |                   80000 |                         1 |                        0 |                     3 |              1 |           0 |           0 |             1 | Intro                  | Repetation           | Treatment         | Comedy          | Normal stage       | 490 Thousand              |                      49000 | 27-06-2012                 | 30 Thousand     |                30000 | Netflix | Good          | No              | Good      | 5 Crore                           |                            50000000 |\n|  5 |      6 | Kollywood       | Don                            | Comedy    | 13-05-2022           | 40 Crore     |      400000000 | 121 Crore | 1210000000 |                 1 |           6.9 | 11/5/2022               | 14 Million       |                14000000 |                         1 |                        1 |                     5 |              1 |           1 |           0 |             0 | Flashback              | Enjoyment            | Motivation        | New idea        | Know truth of life | 98 Million                |                   98000000 | 16-12-2021                 | 47 Million      |             47000000 | Netflix | Good          | Yes             | Good      | 15 Crore                          |                           150000000 |\n|  6 |      7 | Kollywood       | Doctor                         | Action    | 9/10/2021            | 40 Crore     |      400000000 | 101 Crore | 1010000000 |                 1 |           7.4 | 25-09-2021              | 14 Million       |                14000000 |                         0 |                        1 |                     4 |              1 |           0 |           0 |             1 | Intro                  | Kidnap               | Investigation     | Vacation        | Action             | 34 Million                |                   34000000 | 2/10/2021                  | 41 Million      |             41000000 | Netflix | Good          | Yes             | Good      | 8 Crore                           |                            80000000 |\n|  7 |      8 | Kollywood       | Ponniyin selvan-1              | Action    | 30-09-2022           | 500 Crore    |     5000000000 | 495 Crore | 4950000000 |                 1 |           9.4 | 6/9/2022                | 18 Million       |                18000000 |                         0 |                        1 |                     3 |              1 |           1 |           0 |             0 | History Intro          | Messenger            | Travel            | Action          | Suspense           | 62 Million                |                   62000000 | 31-07-2022                 | 50 Million      |             50000000 | Netflix | Very good     | Yes             | Very Good | 34 Crore                          |                           340000000 |\n|  8 |      9 | Kollywood       | Maanaadu                       | Action    | 25-11-2021           | 30 Crore     |      300000000 | 84 Crore  |  840000000 |                 1 |           8.3 | 19-11-2021              | 15 Million       |                15000000 |                         0 |                        1 |                     5 |              1 |           0 |           1 |             0 | Intro                  | Car Chasing loop     | Travel loop       | Action          | Loop stopped       | 38 Million                |                   38000000 | 21-06-2021                 | 18 Million      |             18000000 | Netflix | Good          | Yes             | Good      | 8 Crore                           |                            80000000 |\n|  9 |     10 | Kollywood       | Master                         | Action    | 13-01-2021           | 135 Crore    |     1350000000 | 300 Crore | 3000000000 |                 1 |           7.3 | 25-03-2020              | 59 Million       |                59000000 |                         0 |                        1 |                     4 |              1 |           0 |           0 |             1 | Action                 | Celebration          | New job           | Investigation   | Revenge            | 112 Million               |                  112000000 | 15-03-2020                 | 406 Million     |            406000000 | Netflix | Good          | Yes             | Good      | 18 Crore                          |                           180000000 |\n| 10 |     11 | Kollywood       | Soorarai pottru                | Drama     | 12/11/2020           | 20 Crore     |      200000000 | 174 Crore | 1740000000 |                 1 |           8.7 | 26-10-2020              | 28 Million       |                28000000 |                         0 |                        1 |                     5 |              1 |           0 |           0 |             1 | Intro                  | New project          | No one accept     | Project failure | Project success    | 16 Million                |                   16000000 | 24-01-2020                 | 85 Million      |             85000000 | Netflix | Good          | Yes             | Good      | 8 Crore                           |                            80000000 |\n| 11 |     12 | Kollywood       | Theeran Adhigaram ondru        | Action    | 17-11-2017           | 50 Crore     |      500000000 | 85 Crore  |  850000000 |                 1 |           8.2 | 17-10-2017              | 1.1 Million      |                 1100000 |                         1 |                        0 |                     3 |              1 |           0 |           0 |             1 | Comedy                 | New case             | Investigation     | Suspense        | Action             | 40 Thousand               |                      40000 | 13-11-2017                 | 12.9 Thousand   |                12900 | Netflix | Good          | Yes             | Good      | 10 Crore                          |                           100000000 |\n| 12 |     13 | Kollywood       | Ka Pae Ranasingam              | Drama     | 2/10/2020            | 10 Crore     |      100000000 | 11 Crore  |  110000000 |                 1 |           7.3 | 1/9/2019                | 45 Million       |                45000000 |                         1 |                        0 |                     4 |              1 |           0 |           0 |             1 | Poverty                | Flashback            | Protest           | Battle          | End of battle      | 100 Thousand              |                     100000 | 10/10/2020                 | 8.3 Million     |              8300000 | Netflix | Good          | No              | Good      | 8 Crore                           |                            80000000 |\n| 13 |     14 | Kollywood       | Karnan                         | Action    | 9/4/2021             | 30 Crore     |      300000000 | 63 Crore  |  630000000 |                 1 |           8   | 23-03-2021              | 19 Million       |                19000000 |                         1 |                        0 |                     4 |              1 |           0 |           0 |             1 | Intro                  | Victory              | Fight             | Adventure       | Action             | 21 Million                |                   21000000 | 19-02-2021                 | 19.5 Million    |             19500000 | Netflix | Good          | Yes             | Good      | 10 Crore                          |                           100000000 |\n| 14 |     15 | Kollywood       | Asuran                         | Action    | 4/10/2019            | 32 Crore     |      320000000 | 155 Crore | 1550000000 |                 1 |           8.4 | 8/9/2019                | 14 Million       |                14000000 |                         1 |                        0 |                     3 |              1 |           0 |           0 |             1 | Murder                 | Story before murder  | Fight             | Flashback       | Investigation      | 23 Million                |                   23000000 | 18-09-2021                 | 32 Million      |             32000000 | Netflix | Good          | Yes             | Good      | 10 Crore                          |                           100000000 |\n| 15 |     16 | Kollywood       | 2                              | Action    | 29-11-2018           | 575 Crore    |     5750000000 | 750 Crore | 7500000000 |                 1 |           6.1 | 3/11/2018               | 23 Million       |                23000000 |                         0 |                        1 |                     3 |              1 |           0 |           0 |             1 | Mystery                | Research             | Fight             | Flashback       | Action             | 14 Million                |                   14000000 | 27-10-2017                 | 7.9 Million     |              7900000 | Netflix | Good          | Yes             | Good      | 82 Crore                          |                           820000000 |\n| 16 |     17 | Kollywood       | 24                             | Action    | 6/5/2016             | 80 Crore     |      800000000 | 120 Crore | 1200000000 |                 1 |           7.8 | 11/4/2016               | 6.8 Million      |                 6800000 |                         1 |                        0 |                     4 |              1 |           1 |           0 |             0 | New innovation         | Research start       | Find real watch   | Fight           | Flashback          | 2 Million                 |                    2000000 | 10/2/2016                  | 8 Million       |              8000000 | Netflix | Good          | Yes             | Good      | 33 Crore                          |                           330000000 |\n| 17 |     18 | Kollywood       | English vinglish               | Comedy    | 5/10/2012            | 10 Crore     |      100000000 | 102 Crore | 1020000000 |                 1 |           7.8 | 31-08-2012              | 997 Thousand     |                  997000 |                         1 |                        0 |                     4 |              1 |           0 |           0 |             1 | Travel                 | Search address       | Learn english     | New friend      | Celebration        | 4.1 Million               |                    4100000 | 14-09-2012                 | 3 Million       |              3000000 | Netflix | Good          | No              | Good      | 2.5 Crore                         |                            25000000 |\n| 18 |     19 | Kollywood       | Viswaroopam                    | Action    | 7/2/2013             | 95 Crore     |      950000000 | 220 Crore | 2200000000 |                 1 |           7.9 | 27-12-2012              | 349 Thousand     |                  349000 |                         0 |                        1 |                     4 |              1 |           0 |           0 |             1 | Dance                  | Action               | Flashback         | Police chasing  | Fight              | 350 Thousand              |                     350000 | 11/2/2013                  | 6.8 Million     |              6800000 | Netflix | Good          | No              | Good      | 10 Crore                          |                           100000000 |\n| 19 |     20 | Kollywood       | Kaththi                        | Action    | 22-10-2014           | 70 Crore     |      700000000 | 130 Crore | 1300000000 |                 1 |           8   | 19-10-2014              | 8.8 Million      |                 8800000 |                         0 |                        1 |                     5 |              1 |           0 |           0 |             1 | Escape                 | Comedy               | Flashback         | Fight           | Protest            | 1.2 Million               |                    1200000 | 17-10-2014                 | 587 Thousand    |               587000 | Netflix | Good          | Yes             | Good      | 15 Crore                          |                           150000000 |\n| 20 |     21 | Kollywood       | Mahanati                       | Drama     | 9/5/2018             | 25 Crore     |      250000000 | 83 Crore  |  830000000 |                 1 |           8.5 | 7/5/2018                | 843 Thousand     |                  843000 |                         1 |                        0 |                     3 |              1 |           1 |           0 |             0 | Coma stage             | Small artist         | Movie actress     | Life struggle   | Poverty            | 1.2 Million               |                    1200000 | 1/5/2018                   | 101 Thousand    |               101000 | Netflix | Good          | No              | Good      | 5.9 Crore                         |                            59000000 |\n| 21 |     22 | Kollywood       | Baahubali-The beginning        | Action    | 10/7/2015            | 180 Crore    |     1800000000 | 650 Crore | 6500000000 |                 1 |           8   | 6/7/2015                | 5.3 Million      |                 5300000 |                         0 |                        1 |                     4 |              1 |           0 |           0 |             1 | Devotional             | Fight                | Jealous           | flashback       | suspense           | 1.8 Million               |                    1800000 | 7/6/2015                   | 19.5 Million    |            195000000 | Netflix | Good          | Yes             | Good      | 6 Crore                           |                            60000000 |\n| 22 |     23 | Kollywood       | Enthiran                       | Action    | 1/10/2010            | 196 Crore    |     1960000000 | 311 Crore | 3110000000 |                 1 |           7.1 | 26-08-2010              | 414 Thousand     |                  414000 |                         0 |                        1 |                     3 |              1 |           0 |           0 |             1 | Robo Invention         | Conference           | Comedy            | Action          | Robo Deactivated   | 6 Million                 |                    6000000 | 31-07-2010                 | 1.4 Million     |              1400000 | Netflix | Good          | Yes             | Good      | 100 Crore                         |                          1000000000 |\n| 23 |     24 | Kollywood       | Kakka muttai                   | Comedy    | 5/6/2015             | 1 Crore      |       10000000 | 12 Crore  |  120000000 |                 1 |           8.3 | 15-04-2015              | 3 Million        |                 3000000 |                         1 |                        0 |                     3 |              1 |           0 |           0 |             1 | Work                   | Dream                | Insult            | Case            | Dream fulfilled    | 150 Thousand              |                     150000 | 4/5/2015                   | 451 Thousand    |               451000 | Netflix | Good          | Yes             | Good      | 2.4 Crore                   

# dtypes -to get datatypes of each column

In [8]:
#dataset.get_dtype_counts()
dataset.dtypes

S.No                                   int64
Film Industry                         object
Movie Name                            object
Genre                                 object
Movie Release Date                    object
Investment                            object
Investment.1                           int64
Profit                                object
Profit.1                               int64
Success/Failure                        int64
IMDb Rating                          float64
Trailer Released Date                 object
YouTube_Views1                        object
YouTube_Trailer_Views                  int64
Common Background music                int64
Theme background Music                 int64
No.of Part Released                    int64
Comedy Scene                           int64
Fast mode                              int64
Slow mode                              int64
Medium mode                            int64
1st-30min                             object
2nd-30mins                            object
3rd-30mins                            object
4th-30mins                            object
5th-30mins                            object
Pre-released song views               object
Pre-released_song _views               int64
first song released date              object
YouTube Views                         object
YouTube_song_Views                     int64
OTT                                   object
Rating_Type                           object
MemeMarketing                         object
Critics                               object
First day Box office collection       object
First day Box office collection.1      int64
dtype: object

# 6)Use the select_dtypes method to select only the object columns

In [7]:
dataset.select_dtypes(include=['object']).head()

,Film Industry,Movie Name,Genre,Movie Release Date,Investment,Profit,Trailer Released Date,YouTube_Views1,1st-30min,2nd-30mins,...,4th-30mins,5th-30mins,Pre-released song views,first song released date,YouTube Views,OTT,Rating_Type,MemeMarketing,Critics,First day Box office collection
0,Kollywood,Vikram,Action,3/6/2022,115 Crore,424 Crore,15-05-2022,43 Million,Action,Suspense,...,Thriller,Fight,98 Million,15-05-2022,50 Million,Netflix,Good,Yes,Good,33 Crore
1,Kollywood,Sardar,Action,21-10-2022,40 Crore,85 Crore,30-09-2022,10 Million,Protection,Investigation,...,Disloyality,Fight,4 Million,18-11-2022,11 Million,Netflix,Good,Yes,Good,3.7 Crore
2,Kollywood,Beast,Action,13-04-2022,130 Crore,227 Crore,2/4/2022,59 Million,Intro,Terrorist attack,...,Blackmail,Revenge,33 Million,14-02-2022,48 Million,Netflix,Average,Yes,Average,40 Crore
3,Kollywood,Pizza,Horror,19-10-2012,1.5 Crore,8 Crore,21-09-2012,309 thousand,Thriller,Mystery,...,Investigation,Illusion,176 Thousand,6/9/2012,250 Thousand,Netflix,Good,No,Good,1.5 Crore
4,Kollywood,Naduvula Konjum Pakkatha kanum,Comedy,30-11-2012,0.8 Crore,18 Crore,13-07-2012,80 thousand,Intro,Repetation,...,Comedy,Normal stage,490 Thousand,27-06-2012,30 Thousand,Netflix,Good,No,Good,5 Crore

# 7)If you would like to select all the numeric columns you may simply pass the string number to the include parameter

In [9]:
dataset.select_dtypes(include=['number']).head()

,S.No,Investment.1,Profit.1,Success/Failure,IMDb Rating,YouTube_Trailer_Views,Common Background music,Theme background Music,No.of Part Released,Comedy Scene,Fast mode,Slow mode,Medium mode,Pre-released_song _views,YouTube_song_Views,First day Box office collection.1
0,1,1150000000,4240000000,1,8.4,43000000,1,0,5,1,0,0,1,98000000,50000000,330000000
1,2,400000000,850000000,1,7.8,10000000,0,1,4,1,1,0,0,4000000,11000000,37000000
2,3,1300000000,2270000000,1,5.6,59000000,0,1,4,1,0,0,1,33000000,48000000,400000000
3,4,15000000,80000000,1,8.0,309000,0,1,2,1,0,1,0,176000,250000,15000000
4,5,8000000,180000000,1,8.2,80000,1,0,3,1,0,0,1,49000,30000,50000000

# 8)we use the like parameter to search for all column names that contain the exact string, Genr

In [16]:
dataset.filter(like="Genre").head()

    Genre
0  Action
1  Action
2  Action
3  Horror
4  Comedy

    Comedy Scene
0              1
1              1
2              1
3              1
4              1
5              1
6              1
7              1
8              1
9              1
10             1
11             1
12             1
13             1
14             1
15             1
16             1
17             1
18             1
19             1
20             1
21             1
22             1
23             1
24             1
25             1
26             1
27             1
28             1
29             1
30             1
31             1
32             1
33             1
34             1
35             1
36             1
37             1
38             1
39             1
40             1
41             1
42             1
43             1
44             1
45             1
46             1
47             1
48             1
49             1