# Pandas Buitin function
1)loc[]
  DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame

In [21]:
import pandas as pd
data = pd.read_csv("Hit or Flop movie Dataset.csv",index_col ="Movie Name")
data.loc["Sardar"]

S.No                                             2
Film Industry                            Kollywood
Genre                                       Action
Movie Release Date                      21-10-2022
Investment                                40 Crore
Investment.1                             400000000
Profit                                    85 Crore
Profit.1                                 850000000
Success/Failure                                  1
IMDb Rating                                    7.8
Trailer Released Date                   30-09-2022
YouTube_Views1                          10 Million
YouTube_Trailer_Views                     10000000
Common Background music                          0
Theme background Music                           1
No.of Part Released                              4
Comedy Scene                                     1
Fast mode                                        1
Slow mode                                        0
Medium mode                                      0
1st-30min                               Protection
2nd-30mins                           Investigation
3rd-30mins                               Flashback
4th-30mins                             Disloyality
5th-30mins                                   Fight
Pre-released song views                  4 Million
Pre-released_song _views                   4000000
first song released date                18-11-2022
YouTube Views                           11 Million
YouTube_song_Views                        11000000
OTT                                       Netflix
Rating_Type                                   Good
MemeMarketing                                  Yes
Critics                                       Good
First day Box office collection          3.7 Crore
First day Box office collection.1         37000000
Name: Sardar, dtype: object

# 2)iloc[]
Rows can also be selected by passing integer location to an iloc[] function.

In [10]:
data.iloc[3:5]

,S.No,Film Industry,Genre,Movie Release Date,Investment,Investment.1,Profit,Profit.1,Success/Failure,IMDb Rating,...,Pre-released_song _views,first song released date,YouTube Views,YouTube_song_Views,OTT,Rating_Type,MemeMarketing,Critics,First day Box office collection,First day Box office collection.1
Movie Name,,,,,,,,,,,,,,,,,,,,,
Pizza,4,Kollywood,Horror,19-10-2012,1.5 Crore,15000000,8 Crore,80000000,1,8.0,...,176000,6/9/2012,250 Thousand,250000,Netflix,Good,No,Good,1.5 Crore,15000000
Naduvula Konjum Pakkatha kanum,5,Kollywood,Comedy,30-11-2012,0.8 Crore,8000000,18 Crore,180000000,1,8.2,...,49000,27-06-2012,30 Thousand,30000,Netflix,Good,No,Good,5 Crore,50000000

# 3)head()
head(n) is used to return the first n rows of a dataset

In [12]:
data.head(5)

,S.No,Film Industry,Genre,Movie Release Date,Investment,Investment.1,Profit,Profit.1,Success/Failure,IMDb Rating,...,Pre-released_song _views,first song released date,YouTube Views,YouTube_song_Views,OTT,Rating_Type,MemeMarketing,Critics,First day Box office collection,First day Box office collection.1
Movie Name,,,,,,,,,,,,,,,,,,,,,
Vikram,1,Kollywood,Action,3/6/2022,115 Crore,1150000000,424 Crore,4240000000,1,8.4,...,98000000,15-05-2022,50 Million,50000000,Netflix,Good,Yes,Good,33 Crore,330000000
Sardar,2,Kollywood,Action,21-10-2022,40 Crore,400000000,85 Crore,850000000,1,7.8,...,4000000,18-11-2022,11 Million,11000000,Netflix,Good,Yes,Good,3.7 Crore,37000000
Beast,3,Kollywood,Action,13-04-2022,130 Crore,1300000000,227 Crore,2270000000,1,5.6,...,33000000,14-02-2022,48 Million,48000000,Netflix,Average,Yes,Average,40 Crore,400000000
Pizza,4,Kollywood,Horror,19-10-2012,1.5 Crore,15000000,8 Crore,80000000,1,8.0,...,176000,6/9/2012,250 Thousand,250000,Netflix,Good,No,Good,1.5 Crore,15000000
Naduvula Konjum Pakkatha kanum,5,Kollywood,Comedy,30-11-2012,0.8 Crore,8000000,18 Crore,180000000,1,8.2,...,49000,27-06-2012,30 Thousand,30000,Netflix,Good,No,Good,5 Crore,50000000

# 4. memory_usage()
memory_usage() returns a Pandas Series having the memory usage of each column (in bytes) in a Pandas DataFrame. By specifying the deep attribute as True, we can get to know the actual space being taken by each column.

In [14]:
data.memory_usage(deep=True)

Index                                5402
S.No                                  400
Film Industry                        3300
Genre                                3149
Movie Release Date                   3322
Investment                           3260
Investment.1                          400
Profit                               3266
Profit.1                              400
Success/Failure                       400
IMDb Rating                           400
Trailer Released Date                3319
YouTube_Views1                       3384
YouTube_Trailer_Views                 400
Common Background music               400
Theme background Music                400
No.of Part Released                   400
Comedy Scene                          400
Fast mode                             400
Slow mode                             400
Medium mode                           400
1st-30min                            3206
2nd-30mins                           3302
3rd-30mins                           3299
4th-30mins                           3265
5th-30mins                           3251
Pre-released song views              3370
Pre-released_song _views              400
first song released date             3320
YouTube Views                        3378
YouTube_song_Views                    400
OTT                                  3203
Rating_Type                          3034
MemeMarketing                        2987
Critics                              3034
First day Box office collection      3240
First day Box office collection.1     400
dtype: int64

# 5. to_datetime()
to_datetime() converts a Python object to datetime format. It can take an integer, floating point number, list, Pandas Series, or Pandas DataFrame as argument. to_datetime() is very powerful when the dataset has time series values or dates.

In [15]:
pd.to_datetime(data['Movie Release Date'])

C:\Users\spavi\AppData\Local\Temp\ipykernel_10968\463112674.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(data['Movie Release Date'])

Movie Name
Vikram                           2022-03-06
Sardar                           2022-10-21
Beast                            2022-04-13
Pizza                            2012-10-19
Naduvula Konjum Pakkatha kanum   2012-11-30
Don                              2022-05-13
Doctor                           2021-09-10
Ponniyin selvan-1                2022-09-30
Maanaadu                         2021-11-25
Master                           2021-01-13
Soorarai pottru                  2020-12-11
Theeran Adhigaram ondru          2017-11-17
Ka Pae Ranasingam                2020-02-10
Karnan                           2021-09-04
Asuran                           2019-04-10
2                                2018-11-29
24                               2016-06-05
English vinglish                 2012-05-10
Viswaroopam                      2013-07-02
Kaththi                          2014-10-22
Mahanati                         2018-09-05
Baahubali-The beginning          2015-10-07
Enthiran                         2010-01-10
Kakka muttai                     2015-05-06
Jai Bhim                         2021-02-11
Aayirathil Oruvan                2010-01-14
NGK                              2019-05-31
Bhoomi                           2021-01-14
Thodari                          2016-09-22
Prince                           2022-10-21
Seema Raja                       2018-09-13
Saamy Square                     2018-09-21
Dev                              2019-02-14
Puli                             2015-01-10
Adhavan                          2009-10-17
Alex pandian                     2013-11-01
Naiyandi                         2013-11-10
Manmadhan Ambu                   2010-12-22
Sura                             2010-04-30
Asal                             2010-05-02
Rekka                            2016-07-10
Vanamagan                        2017-06-23
Hero                             2019-12-20
Action                           2019-11-15
Ravanan                          2010-06-18
Cobra                            2022-08-31
Mappillai                        2011-08-04
Uttama villan                    2015-02-05
Kochadaiyan                      2014-05-23
Anjaan                           2014-08-15
Name: Movie Release Date, dtype: datetime64[ns]

# 6) value_counts()
value_counts() returns a Pandas Series containing the counts of unique values.

In [18]:
data['Genre'].value_counts()

Action       36
Comedy        8
Drama         4
Horror        1
Superhero     1
Name: Genre, dtype: int64

# 7) groupby()
groupby() is used to group a Pandas DataFrame by 1 or more columns, and perform some mathematical operation on it.

In [22]:
data.groupby(by='Movie Name').YouTube_Trailer_Views.mean()

Movie Name
2                                 23000000.0
24                                 6800000.0
Aayirathil Oruvan                   213000.0
Action                             9400000.0
Adhavan                              86000.0
Alex pandian                        780000.0
Anjaan                             5200000.0
Asal                                 68000.0
Asuran                            14000000.0
Baahubali-The beginning            5300000.0
Beast                             59000000.0
Bhoomi                             4200000.0
Cobra                             26000000.0
Dev                                4600000.0
Doctor                            14000000.0
Don                               14000000.0
English vinglish                    997000.0
Enthiran                            414000.0
Hero                               8400000.0
Jai Bhim                          24000000.0
Ka Pae Ranasingam                 45000000.0
Kakka muttai                       3000000.0
Karnan                            19000000.0
Kaththi                            8800000.0
Kochadaiyan                         489000.0
Maanaadu                          15000000.0
Mahanati                            843000.0
Manmadhan Ambu                      350000.0
Mappillai                           380000.0
Master                            59000000.0
NGK                               13000000.0
Naduvula Konjum Pakkatha kanum       80000.0
Naiyandi                             94000.0
Pizza                               309000.0
Ponniyin selvan-1                 18000000.0
Prince                             9000000.0
Puli                              10000000.0
Ravanan                              95000.0
Rekka                              3000000.0
Saamy Square                      19000000.0
Sardar                            10000000.0
Seema Raja                        10000000.0
Soorarai pottru                   28000000.0
Sura                                156000.0
Theeran Adhigaram ondru            1100000.0
Thodari                            4300000.0
Uttama villan                      1000000.0
Vanamagan                          4900000.0
Vikram                            43000000.0
Viswaroopam                         349000.0
Name: YouTube_Trailer_Views, dtype: float64

# 8) sort_values()
sort_values() is used to sort column in a Pandas DataFrame (or a Pandas Series) by values in ascending or descending order.

In [27]:
data.sort_values(by='Movie Name', inplace=True)
data

,S.No,Film Industry,Genre,Movie Release Date,Investment,Investment.1,Profit,Profit.1,Success/Failure,IMDb Rating,...,Pre-released_song _views,first song released date,YouTube Views,YouTube_song_Views,OTT,Rating_Type,MemeMarketing,Critics,First day Box office collection,First day Box office collection.1
Movie Name,,,,,,,,,,,,,,,,,,,,,
2,16,Kollywood,Action,29-11-2018,575 Crore,5750000000,750 Crore,7500000000,1,6.1,...,14000000,27-10-2017,7.9 Million,7900000,Netflix,Good,Yes,Good,82 Crore,820000000
24,17,Kollywood,Action,6/5/2016,80 Crore,800000000,120 Crore,1200000000,1,7.8,...,2000000,10/2/2016,8 Million,8000000,Netflix,Good,Yes,Good,33 Crore,330000000
Aayirathil Oruvan,26,Kollywood,Action,14-01-2010,18 Crore,180000000,10 Crore,100000000,0,8.0,...,148000,4/6/2009,164 Thousand,164000,Netflix,Good,No,Good,1 Crore,10000000
Action,44,Kollywood,Action,15-11-2019,40 Crore,400000000,35 Crore,350000000,0,4.6,...,4200000,9/11/2019,5.4 Million,5400000,Netflix,Bad,Yes,Bad,1 Crore,10000000
Adhavan,35,Kollywood,Action,17-10-2009,30 Crore,300000000,20 Crore,200000000,0,5.4,...,5000000,20-08-2009,17 Thousand,17000,Netflix,Bad,No,Bad,2.3 Crore,23000000
Alex pandian,36,Kollywood,Action,11/1/2013,17 Crore,170000000,12 Crore,120000000,0,2.8,...,225000,12/12/2012,5.6 Million,5600000,Netflix,Bad,Yes,Bad,2 Crore,20000000
Anjaan,50,Kollywood,Action,15-08-2014,75 Crore,750000000,45 Crore,450000000,0,5.1,...,16000000,10/8/2014,16 Million,16000000,Netflix,Bad,Yes,Bad,1 Crore,10000000
Asal,40,Kollywood,Action,5/2/2010,22 Crore,220000000,12 Crore,120000000,0,3.7,...,34000,20-01-2010,100 Thousand,100000,Netflix,Bad,No,Bad,2 Crore,20000000
Asuran,15,Kollywood,Action,4/10/2019,32 Crore,320000000,155 Crore,1550000000,1,8.4,...,23000000,18-09-2021,32 Million,32000000,Netflix,Good,Yes,Good,10 Crore,100000000
Baahubali-The beginning,22,Kollywood,Action,10/7/2015,180 Crore,1800000000,650 Crore,6500000000,1,8.0,...,1800000,7/6/2015,19.5 Million,195000000,Netflix,Good,Yes,Good,6 Crore,60000000
Beast,3,Kollywood,Action,13-04-2022,130 Crore,1300000000,227 Crore,2270000000,1,5.6,...,33000000,14-02-2022,48 Million,48000000,Netflix,Average,Yes,Average,40 Crore,400000000
Bhoomi,28,Kollywood,Action,14-01-2021,30 Crore,300000000,15 Crore,150000000,0,4.7,...,2000000,18-10-2020,4 Million,4000000,Netflix,Bad,Yes,Bad,2 Crore,20000000
Cobra,46,Kollywood,Action,31-08-2022,90 Crore,900000000,58 Crore,580000000,0,6.2,...,6200000,9/8/2022,29 Million,29000000,Netflix,Bad,Yes,Bad,24 Crore,240000000
Dev,33,Kollywood,Action,14-02-2019,40 Crore,400000000,25 Crore,250000000,0,4.8,...,2000000,7/2/2019,4.6 Million,4600000,Netflix,Bad,Yes,Bad,60 lakh,6000000
Doctor,7,Kollywood,Action,9/10/2021,40 Crore,400000000,101 Crore,1010000000,1,7.4,...,34000000,2/10/2021,41 Million,41000000,Netflix,Good,Yes,Good,8 Crore,80000000
Don,6,Kollywood,Comedy,13-05-2022,40 Crore,400000000,121 Crore,1210000000,1,6.9,...,98000000,16-12-2021,47 Million,47000000,Netflix,Good,Yes,Good,15 Crore,150000000
English vinglish,18,Kollywood,Comedy,5/10/2012,10 Crore,100000000,102 Crore,1020000000,1,7.8,...,4100000,14-09-2012,3 Million,3000000,Netflix,Good,No,Good,2.5 Crore,25000000
Enthiran,23,Kollywood,Action,1/10/2010,196 Crore,1960000000,311 Crore,3110000000,1,7.1,...,6000000,31-07-2010,1.4 Million,1400000,Netflix,Good,Yes,Good,100 Crore,1000000000
Hero,43,Kollywood,Superhero,20-12-2019,45 Crore,450000000,40 Crore,400000000,0,6.3,...,2800000,29-11-2019,30 Million,30000000,Netflix,Bad,Yes,Bad,1.31 Crore,13100000
Jai Bhim,25,Kollywood,Drama,2/11/2021,40 Crore,400000000,100 Crore,1000000000,1,8.9,...,19000000,30-10-2021,17 Million,17000000,Netflix,Good,Yes,Good,6 Crore,60000000
Ka Pae Ranasingam,13,Kollywood,Drama,2/10/2020,10 Crore,100000000,11 Crore,110000000,1,7.3,...,100000,10/10/2020,8.3 Million,8300000,Netflix,Good,No,Good,8 Crore,80000000
Kakka muttai,24,Kollywood,Comedy,5/6/2015,1 Crore,10000000,12 Crore,120000000,1,8.3,...,150000,4/5/2015,451 Thousand,451000,Netflix,Good,Yes,Good,2.4 Crore,24000000
Karnan,14,Kollywood,Action,9/4/2021,30 Crore,300000000,63 Crore,630000000,1,8.0,...,21000000,19-02-2021,19.5 Million,19500000,Netflix,Good,Yes,Good,10 Crore,100000000
Kaththi,20,Kollywood,Action,22-10-2014,70 Crore,700000000,130 Crore,1300000000,1,8.0,...,1200000,17-10-2014,587 Thousand,587000,Netflix,Good,Yes,Good,15 Crore,150000000
Kochadaiyan,49,Kollywood,Action,23-05-2014,125 Crore,1250000000,42 Crore,420000000,0,6.2,...,1000000,9/3/2014,13 Million,13000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
Maanaadu,9,Kollywood,Action,25-11-2021,30 Crore,300000000,84 Crore,840000000,1,8.3,...,38000000,21-06-2021,18 Million,18000000,Netflix,Good,Yes,Good,8 Crore,80000000
Mahanati,21,Kollywood,Drama,9/5/2018,25 Crore,250000000,83 Crore,830000000,1,8.5,...,1200000,1/5/2018,101 Thousand,101000,Netflix,Good,No,Good,5.9 Crore,59000000
Manmadhan Ambu,38,Kollywood,Comedy,22-12-2010,50 Crore,500000000,30 Crore,300000000,0,5.6,...,440000,25-11-2010,20 Million,20000000,Netflix,Bad,No,Bad,5 Crore,50000000
Mappillai,47,Kollywood,Action,8/4/2011,33 Crore,330000000,32 Crore,320000000,0,3.2,...,30000000,30-03-2011,4.4 Million,4400000,Netflix,Bad,No,Bad,5 Crore,50000000
Master,10,Kollywood,Action,13-01-2021,135 Crore,1350000000,300 Crore,3000000000,1,7.3,...,112000000,15-03-2020,406 Million,406000000,Netflix,Good,Yes,Good,18 Crore,180000000
NGK,27,Kollywood,Action,31-05-2019,65 Crore,650000000,30 Crore,300000000,0,5.8,...,1000000,19-04-2019,2.9 Million,2900000,Netflix,Bad,Yes,Bad,14 Crore,140000000
Naduvula Konjum Pakkatha kanum,5,Kollywood,Comedy,30-11-2012,0.8 Crore,8000000,18 Crore,180000000,1,8.2,...,49000,27-06-2012,30 Thousand,30000,Netflix,Good,No,Good,5 Crore,50000000
Naiyandi,37,Kollywood,Comedy,11/10/2013,20 Crore,200000000,16 Crore,160000000,0,3.4,...,1300000,17-09-2013,3.2 Million,3200000,Netflix,Bad,Yes,Bad,1 Crore,10000000
Pizza,4,Kollywood,Horror,19-10-2012,1.5 Crore,15000000,8 Crore,80000000,1,8.0,...,176000,6/9/2012,250 Thousand,250000,Netflix,Good,No,Good,1.5 Crore,15000000
Ponniyin selvan-1,8,Kollywood,Action,30-09-2022,500 Crore,5000000000,495 Crore,4950000000,1,9.4,...,62000000,31-07-2022,50 Million,50000000,Netflix,Very good,Yes,Very Good,34 Crore,340000000
Prince,30,Kollywood,Comedy,21-10-2022,60 Crore,600000000,22 Crore,220000000,0,4.6,...,1000000,30-09-2022,27 Million,27000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
Puli,34,Kollywood,Action,1/10/2015,130 Crore,1300000000,100 Crore,1000000000,0,4.3,...,11000000,2/8/2015,23 Million,23000000,Netflix,Bad,No,Bad,10 Crore,100000000
Ravanan,45,Kollywood,Action,18-06-2010,55 Crore,550000000,50 Crore,500000000,0,6.9,...,2000000,7/5/2010,38 Million,38000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
Rekka,41,Kollywood,Action,7/10/2016,10 Crore,100000000,14 Crore,140000000,0,5.0,...,2000000,30-09-2016,7 Million,7000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
Saamy Square,32,Kollywood,Action,21-09-2018,50 Crore,500000000,38 Crore,380000000,0,4.5,...,2400000,10/7/2018,93 Million,93000000,Netflix,Bad,Yes,Bad,60 lakh,6000000
Sardar,2,Kollywood,Action,21-10-2022,40 Crore,400000000,85 Crore,850000000,1,7.8,...,4000000,18-11-2022,11 Million,11000000,Netflix,Good,Yes,Good,3.7 Crore,37000000
Seema Raja,31,Kollywood,Action,13-09-2018,60 Crore,600000000,49 Crore,490000000,0,4.2,...,31000000,13-09-2018,73 Million,73000000,Netflix,Bad,Yes,Bad,1.3 Crore,13000000
Soorarai pottru,11,Kollywood,Drama,12/11/2020,20 Crore,200000000,174 Crore,1740000000,1,8.7,...,16000000,24-01-2020,85 Million,85000000,Netflix,Good,Yes,Good,8 Crore,80000000
Sura,39,Kollywood,Action,30-04-2010,30 Crore,300000000,40 Crore,400000000,0,3.0,...,12000,25-04-2010,10 Million,10000000,Netflix,Bad,No,Bad,2 Crore,20000000
Theeran Adhigaram ondru,12,Kollywood,Action,17-11-2017,50 Crore,500000000,85 Crore,850000000,1,8.2,...,40000,13-11-2017,12.9 Thousand,12900,Netflix,Good,Yes,Good,10 Crore,100000000
Thodari,29,Kollywood,Action,22-09-2016,40 Crore,400000000,23 Crore,230000000,0,4.6,...,2100000,6/6/2016,7.4 Million,7400000,Netflix,Bad,Yes,Bad,4.32 Crore,43200000
Uttama villan,48,Kollywood,Comedy,2/5/2015,50 Crore,500000000,26 Crore,260000000,0,7.3,...,657000,1/3/2015,2 Million,2000000,Netflix,Bad,Yes,Bad,`10 Crore,100000000
Vanamagan,42,Kollywood,Action,23-06-2017,18 Crore,180000000,10 Crore,100000000,0,5.5,...,2000000,22-04-2017,12 Million,12000000,Netflix,Bad,Yes,Bad,2 Crore,20000000
Vikram,1,Kollywood,Action,3/6/2022,115 Crore,1150000000,424 Crore,4240000000,1,8.4,...,98000000,15-05-2022,50 Million,50000000,Netflix,Good,Yes,Good,33 Crore,330000000
Viswaroopam,19,Kollywood,Action,7/2/2013,95 Crore,950000000,220 Crore,2200000000,1,7.9,...,350000,11/2/2013,6.8 Million,6800000,Netflix,Good,No,Good,10 Crore,100000000

# 9)shape
no of rows and columns present in the dataset

In [30]:
data.shape

(50, 36)

# 10)info
Get information on Dataset

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 2 to Viswaroopam
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   S.No                               50 non-null     int64
 1   Film Industry                      50 non-null     object
 2   Genre                              50 non-null     object
 3   Movie Release Date                 50 non-null     object
 4   Investment                         50 non-null     object
 5   Investment.1                       50 non-null     int64
 6   Profit                             50 non-null     object
 7   Profit.1                           50 non-null     int64
 8   Success/Failure                    50 non-null     int64
 9   IMDb Rating                        50 non-null     float64
 10  Trailer Released Date              50 non-null     object
 11  YouTube_Views1                     50 non-null     object
 12  YouTube_Trailer_Views              50 non-null     int64
 13  Common Background music            50 non-null     int64
 14  Theme background Music             50 non-null     int64
 15  No.of Part Released                50 non-null     int64
 16  Comedy Scene                       50 non-null     int64
 17  Fast mode                          50 non-null     int64
 18  Slow mode                          50 non-null     int64
 19  Medium mode                        50 non-null     int64
 20  1st-30min                          50 non-null     object
 21  2nd-30mins                         50 non-null     object
 22  3rd-30mins                         50 non-null     object
 23  4th-30mins                         50 non-null     object
 24  5th-30mins                         50 non-null     object
 25  Pre-released song views            50 non-null     object
 26  Pre-released_song _views           50 non-null     int64
 27  first song released date           50 non-null     object
 28  YouTube Views                      50 non-null     object
 29  YouTube_song_Views                 50 non-null     int64
 30  OTT                                50 non-null     object
 31  Rating_Type                        50 non-null     object
 32  MemeMarketing                      50 non-null     object
 33  Critics                            50 non-null     object
 34  First day Box office collection    50 non-null     object
 35  First day Box office collection.1  50 non-null     int64
dtypes: float64(1), int64(15), object(20)
memory usage: 14.5+ KB